* {
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.navcontainer {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: inline-flex;

nav li {
  display: inline; 
}

.navbar {
  position: fixed;
  top: 0px;
}
